*.ini
*.json
!Pokemon Emerald.json
!TrackerOverrides.json
!meta.json
*.gba
*.State
*.log
*.txt
!ThemePresets.txt
!CodeExtensionTemplate.lua.txt
!How to use.txt
!StreamerbotCodeImport.txt
!LICENSE.txt
!README.txt
*.tdat
debug.txt